<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>SabyaTest</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ca8cab">  <td>14/07/17 16:20:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_02.TC_02()[pri:0, instance:Test.TC_02@1917ef8]">TC_02</td> 
  <td>Test.JiraTestng.main()@56039</td>   <td></td> </tr>
<tr bgcolor="ca8cab">  <td>14/07/17 16:20:29</td>   <td>11760</td> <td>&nbsp;</td><td title="&lt;&lt;TC_02.after()[pri:0, instance:Test.TC_02@1917ef8]">&lt;&lt;after</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>Test.JiraTestng.main()@56039</td>   <td></td> </tr>
<tr bgcolor="e98fea">  <td>14/07/17 16:20:30</td>   <td>11906</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TC_01.TC_01()[pri:0, instance:Test.TC_01@161edef]">TC_01</td> 
  <td>Test.JiraTestng.main()@56039</td>   <td></td> </tr>
<tr bgcolor="e98fea">  <td>14/07/17 16:20:33</td>   <td>15702</td> <td>&nbsp;</td><td title="&lt;&lt;TC_01.after()[pri:0, instance:Test.TC_01@161edef]">&lt;&lt;after</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>Test.JiraTestng.main()@56039</td>   <td></td> </tr>
</table>
